<form method="POST" action="/groups">
    <p>
        <label for="title">Group Title:</label> 
        <input type="text" name="title">
    </p>
    <p>
        <label for="description">Group Description:</label>  
        <textarea name="description"></textarea>
    </p>
    <input type="submit" value="Create Group">
</form>